.master-detail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    padding: var(--lumo-space-r-m);
}

.master-detail__header {
  z-index: 2;
}

.master-detail__wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.master-detail__content {
  flex: 2;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.master-detail__footer {
  z-index: 2;
}

.master-detail__details {
  flex: 1;
  overflow-y: auto;
}

@media(min-width: 720px) {

    .master-detail__content {
        margin-right: var(--lumo-space-l)
    }

    .master-detail__details {
        /*margin: var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-l) 0*/
    }

    .master-detail__details[size="small"] {
      flex: 1;
    }

    .master-detail__details[size="normal"] {
      flex: 2;
    }

    .master-detail__details[size="large"] {
      flex: 3;
    }
}

@media(max-width: 719px) {
}
